<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
    </div>
    <div>
      <li *ngFor="let route of secondaryRoute()">
        <a
          routerLink="/{{route.path}}"
          [routerLinkActive]="['active']"
        >
          <div>{{route.title}}</div>
        </a>
      </li>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>

    <div class="right-side">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

