<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
    </div>
    <div>
        <dx-list
        height="100%"
        [dataSource]="secondaryRoute()"
        [grouped]="true"
        [collapsibleGroups]="true"
      >
        <div *dxTemplate="let item of 'group'">
          <div>{{ item.key }}
          </div>
        </div>
        <div *dxTemplate="let item of 'item'">
          <div
            routerLink="/{{ item.path }}/{{ item.path }}/{{ item.path }}"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">{{ item.text }}
          </div>
        </div>
      </dx-list>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>

    <div class="right-side">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

